<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My First App in SLIM</title>
  </head>
  <body>

    {% include 'templates/partials/header.twig' %}

    {% block content %}

    {% endblock %}

    {% include 'templates/partials/footer.twig' %}

    {% block subfooter %}

    {% endblock %}

  </body>
</html>
