<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My First App in SLIM</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>

    {% include 'templates/partials/header.twig' %}

    {% include 'templates/partials/messages.twig' %}

    {% block content %}

    {% endblock %}

    {% include 'templates/partials/footer.twig' %}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
</html>
